body {
	margin: 0 auto;
	margin-top: 0px;
	padding: 0;
}

h1 {
	margin: 0;
}

.planner-area {
	margin: 0 auto;
	background-color: #c9d6ff;
	width: 90%;
	padding: 30px;
}

#plan-card {
	font-family: Arial;
	background-color: white;
	text-align: center;
	width: 230px;
	height: 100px;
	border-radius: 15px;
	padding: 40px 10px 40px 10px;
	box-shadow: 5px 5px 15px grey;
}

.view-btn {
	font-family: Arial;
	background-color: #a2ffb5;	
	border: none;
	width: 100px;
	height: 35px;
}