{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'modals.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'dayPage.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

</head>
<body>
	<button id="back"><</button>
	<div id="tip-container" onclick="fn()">
		<h4 id="tip">This is your daily reminder to drink water before your next meeting!</h4>
	</div>
	<div id ="middle">
		<div id="date">
			{{day_made}}
		</div>

	<div>
		<table id="wow">
			<tr id="tableHead">
				<th width="40%">
					Time
				</th>
				<th width="60%">
					Activity - Description
				</th>
			</tr>
			{% for plan in plan_list %}
			<tr>
			
				<td id="time" valign="top">
					{{ plan.time_start }} - {{ plan.time_end }} 
				</td>
				<td valign="top">
					<div id="plan">{{ plan.plan_title }}</div>
					<p id="description">
						{{plan.plan_desc}}
					</p>
				</td>
				
			</tr>
			{% endfor %}
		</table>
	</div>
	</div>
	<button id="addPlan">+</button>

	<div id="myModal" class="modal">
  		<div class="modal-content">
   			<span class="close">&times;</span>
			<div>

  				<form method ='post'>
					{% csrf_token %}
					{{form}}
					<button name = 'submit_plan'>add plan</button>
				</form>
	  		</div>
		</div>
	</div>

	<script src="{% static 'modalsDayPage.js' %}"></script>
	<script src="{% static 'tipsNotifs.js' %}"></script>
</body>
</html>