{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'modals.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'dayPage.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

</head>
<body>
	<button onclick="alerter()">test here</button>
	<a href = "../"> <button id="back" ><</button></a>
	<div id="tip">
		{{ tip_list.tip_content }}
	</div>
	<div id ="middle">
		<div id="date">
			{{day_made}}
		</div>

	<div>
		<table id="wow">
			<tr id="tableHead">
				<th width="40%">
					Time
				</th>
				<th width="60%">
					Activity - Description
				</th>
			</tr>
			{% for plan in plan_list %}
			<tr>
				{% if plan.day.day_made|date:'Y-m-d' == day_made %}
				<td id="time" valign="top">
					
					{{ plan.time_start }} - {{ plan.time_end }} 
				</td>
				<td valign="top">
					<div id="plan">{{ plan.plan_title }}</div>
					<p id="description">
						{{plan.plan_desc}}
					</p>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	</div>
	</div>
	<button id="addPlan">+</button>

	<div id="myModal" class="modal">
  		<div class="modal-content">
   			<span class="close">&times;</span>
			<div>

  				<form method ='post'>
					{% csrf_token %}
					{{form}}
					<button name = 'submit_plan'>add plan</button>
				</form>
	  		</div>
		</div>
	</div>
	<h3 id="time-clock">time</h3>
	<script src="{% static 'modalsDayPage.js' %}"></script>
	<script src="{% static 'tipsNotifs.js' %}"></script>
	<script >
		function alerter(){
			var span = document.createElement('span');
			span.innerHTML='<div id="tip">{{ tip_list.tip_content }}</div>';
			alert(span.textContent);
		}
	</script>
</body>
</html>