{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'modals.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'homePage.css' %}">
</head>

<body>
	<div>
		<h1>Welcome!</h1>
	</div>

	<div class="planner-area">

		<div id="btn-home-add-day"><button class="btn-home">Add Day</button></div>

		<!-- modal code add plan-->
		<div id="addDay" class="modal">
	  		<div class="modal-content">
	   			<span class="close3">&times;</span>
				<form action="">
					Day:<br>
					<input type="text" name="eventtime"><br><br>
	  				
	  				<input type="submit">
				</form> 
	  		</div>
		</div>
		<!-- end of modal code-->

		{% for day in day_list %}
		<a href="dayPage.html">
		<div id="plan-card" class="plan">
			<h1>{{day.day_made}}</h1>
		</div>
		</a>
		{% endfor %}
    <script src="{% static 'modals.js' %}"></script>

	</div>

</body>

</html>