{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'modals.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'homePage.css'%}">
	
</head>

<body>
	
	<div>
		<h1>Welcome!</h1>
	</div>

	<div class="planner-area">

		<div id="btn-home-add-day"><button class="btn-home">Add Day</button></div>

		<!-- modal code add plan-->
		<div id="myModal" class="modal">
	  		<div class="modal-content">
	   			<span class="close">&times;</span>
				<form method="post">
					{% csrf_token %}
					{{day_form}}
					<br><br>
	  				
	  				<button name="submit"> add day</button>
				</form> 
	  		</div>
		</div>
		<!-- end of modal code-->
		{% for day in day_list %}
		<form action = "{{day.day_made|date:'Y-m-d'}}">
				
			<div id="plan-card" class="plan">
				<h1>{{day.day_made}}</h1><br>
				<input name= "day_made" required id = "disabledInput" value = "{{day.day_made}}" disabled style = "display:none;">
				<button name = "view_day"> View Day</button>
			</div>
		</form>
		{% endfor %}
	</div>
	<script src="{% static 'modals.js'%}"></script>

</body>

</html>